body {
    background-color: #40407A;
    color: #40407A;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #40407A;
    color: #FFFFFF;
    background-image: url("assets/sunrise.jpg");
    background-size: 100% 100%;
    margin-top: 50px;
    font-size: 90%;
    min-height: 200px;
}

header a {
    text-decoration: none;
    transition: color 10s ease-out 0ms;
}

header a:link {
    color: #FFFFFF;
}

header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #8F92B2;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: small;
    clear: both;
}

nav {
    text-align: right;
    background-color: #FFFFFF;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #3F2860;
}

nav a:visited {
    color: #497777;
}

nav a:hover {
    color: #A26100;
}

nav ul {
    list-style: none;
    display: inline;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.2em;
}

nav li {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    width: 30%;
}

.wrapper {
    background-color: #F5F5F5F5;
    padding: 2em;
}

.home {
    padding-top: 2em;
    padding-left: 10%;
    height: 20vh;
}

.content {
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
}

#mathero {
    height: 300px;
    background-image: url("assets/yogamat.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}

#loungehero {
    height: 300px;
    background-image: url("assets/yogalounge.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}

#privacyhero {
    height: 300px;
    background-image: url("assets/privacyhero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}

h2 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    padding-left: .5em;
    padding-right: .5em;
}

#flow {
    display: flex;
}

table {
    border: 1px solid #40407A;
    margin-bottom: 1em;
    min-width: 400px;
    border-collapse: collapse;
}

td {
    padding: .5em;
    border: 1px solid #40407A;
}

th {
    padding: .5em;
    border: 1px solid #40407A;
}

tr:nth-of-type(2) {
    background-color: #D7E8E9;
}

caption {
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}

form {
    display: flex;
    flex-flow: column nowrap;
}

input, datalist textarea {
    margin-bottom: .5em;
}

audio {
    margin-bottom: 1em;
}

@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    nav li {
        width: 7em;
    }

    section {
        padding-left: 2em;
        padding-right: 2em;
    }

    #mathero, #loungehero, #privacyhero {
        display: block;
        padding-bottom: 1em;
    }

    #flow {
        flex-direction: row;
    }

    form {
        width: 60%;
        max-width: 40em;
        display: grid;
        grid-gap: 1em;
        column-count: 2;
        grid-template-columns: 9em 1fr;
        grid-template-rows: auto;
    }

    input[type=submit] {
        grid-column: 2;
        width: 9em;
    }
}

@media (min-width: 1024px) {
    header {
        font-size: 120%;
    }

    nav {
        font-weight: bold;
    }

    .home {
        height: 50vh;
    }

    .content {
        height: 30vh;
        padding-top: 2em;
        padding-left: 8em;
    }

    #wrapper {
        margin: auto;
        width: 80%;
    }
}